<table class="table">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">name</th>
        <th scope="col">place</th>
        <th scope="col">emailid</th>
        
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor= "let hotel of collection">
        
          <td>{{hotel.name}}</td>
          <td>{{hotel.place}}</td>
          <td>{{hotel.email}}</td> 
          </tr> !-->
          
         
          <td><i class="fa fa-edit" style="font-size:30px;color:red"></i> &nbsp; &nbsp;<i class="fa fa-trash-o" style="font-size:30px;color:red"></i></td>

        
      
    </tbody>
  </table>
